body {
    background-color: yellow;
}

h1 {
    text-align: center;
}

hr {
    color: black;
}

#displaySection {
    display: none;
}

.middle {
    margin: auto;
    width: 60%;
    border: 3px solid ;
    padding: 10px;
}